html, body {
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  
  
  /* background-color: black; */
}

/* #welcome{
  text-align: center;
}

#welcome, h1{
  background: -webkit-linear-gradient(rgb(88, 201, 191),rgb(8, 109, 75));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

#canvas{
  width: 100vw;
  height: 100vh;  
}

.audio-element{
  visibility: hidden;
}

